{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>Путевые заметки</h1>
    <p>Наши заметки, мысли и расуждения по поводу отдыха в Таиланде.<br></p> <p><a href="{{.Site.Params.instagram}}">Мы в Instagram</a></p>
</div>
<ul id="posts">

 {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
</ul>

{{ end }} 
{{ define "footer" }} 
  {{ partial "footer" . }} 
{{ end }}